*,
*:before,
:after {
    margin: 0;
    padding: 0;
}

body,html{
    font-size: 16px;
    line-height: 1.3;
}

:root {
    --primary: #066fc1;
    --secondary: #eaf6ff;
    --white: #fff;
    --black: #000;
    --poppins: 'Poppins', sans-serif;
    --changelistwidth: 20%;
    --lightblack: #00000066;
    --lightgrey: #8d9090;
    --logosize: 130px;
    --paddingleftinput: 15px;
}

button {
    appearance: none;
    border: none;
    background: none;
    font: inherit;
    font-size: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}


/* Login.css */

.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    translate: 0 -50%;
    padding: 20px;
    padding-bottom: 40px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid var(--lightblack);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 2px 0px, rgba(60, 64, 67, 0.15) 0px 0px 6px 2px;
}
.login-form .logo-login{
    display: block;
    max-width: var(--logosize);
    margin: 0 auto 20px;
}
.login-form .login-input{
    position: relative;
}
.login-form .login-input .form-group{
    position: relative;
}
.login-form .login-input .form-group:last-child {
    margin-top: 12px;
}        
.login-form .login-input .form-group input{
    position: relative;
    width: calc(100% - var(--paddingleftinput));
    padding: 12px 0;
    padding-left: var(--paddingleftinput);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 1px solid var(--lightblack);
    border-radius: 4px;
}
.login-form .login-input .form-group input:focus{
    outline: none;
}
.login-form .login-input .form-group label{
    position: absolute;
    z-index: 1;
    line-height: 1;
    top: 50%;
    left: var(--paddingleftinput);
    translate: 0 -50%;
    color: #343434;
    transition: .4s ease;
    pointer-events: none;
    user-select: none;
}
.login-form .login-input .form-group.is-focus label{
    top: 0px;
    font-size: 14px;
    color: var(--primary);
    background: var(--white);
    padding: 0 4px;
}

.login-form .login-input .form-group .password-toggle-btn{
    background: none;
    appearance: none;
    border: none;
    position: absolute;
    top: 16px;
    right: var(--paddingleftinput);
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    z-index: 2;
}

.login-form .login-input .form-group .password-toggle-btn.is-visible{
    opacity: 1;
    pointer-events: all;
}

.login-form .login-input .form-group .password-toggle-btn .btn:not(.show){
    display: none;
}

.login-form .errornote{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 1;
    padding-bottom: 12px;
}
.login-form .submit-btn{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: var(--white);
    background: var(--primary);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: 1px solid var(--primary);
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

/* dashboard.css */


.slidebtn .slidewrap {
    max-height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.CSTM_change_list {
    width: var(--changelistwidth);
    background-image: radial-gradient(circle 815px at 23.4% -21.8%, #2196F3 0.2%, rgba(0, 0, 0, 1) 100.2%);
    padding: 40px 30px;
}

.CSTM_change_list .logo {
    padding-bottom: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid #f5f5f5;
}

.CSTM_change_list .logo img {
    filter: invert(1) brightness(5);
    width: 160px;
}

.CSTM_change_list ul li a,
.CSTM_change_list ul li button {
    display: block;
    color: var(--white);
    padding: 8px 10px;
    border-radius: 5px;
}

.CSTM_change_list ul li a.active,
.CSTM_change_list ul li a:hover,
.CSTM_change_list ul li button:hover {
    background: var(--white);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    color: var(--black);
}

.CSTM_change_list ul li button {
    width: 100%;
    text-align: left;
}